<!DOCTYPE html>
<html>
    <head>

      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="icon" href="images/favicon.ico" type="image/x-icon">

        <title>Racing for the Senate</title>

        <!-- css -->
        <link rel="stylesheet" href="css/bootstrap.css" />
        <link rel="stylesheet" href="css/custom.css" />
        <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="css/waves.min.css" />
    </head>

    <body ng-app="myApp">

      <div id="banner">
        <img src="images/banner.png" class="img-responsive banner-image"></img>
      </div>

        <div class="container" ng-controller="SenateController as senate">

          <div id="headbox">
            <a href="index.html"><h1>Racing for the Senate</h1></a>
            <h2>With Republicans holding 24 of the 34 seats up for re-election in November,
            Democrats will be looking to win back the control of the Senate they lost in 2014.
            Currently at 46 seats, they will need to win four more to gain control if a Democrat
            is elected president, or five more if a Republican wins the White House. Use the table
            below to view who is up for re-election this year and detailed information about each
            of the 34 races.</h2>
          </div>

          <div id="key">
            <ul>
              <li class="openrep">Open Republican Seat</li>
              <li class="closedrep">Closed Republican Seat</li>
              <li class="opendem">Open Democratic Seat</li>
              <li class="closeddem">Closed Democratic Seat</li>
              <li class="openind">Open Independent Seat</li>
              <li class="closedind">Closed Independent Seat</li>
          </div>

          <div class="row" id="buttons">
            <div class="col-xs-12 col-sm-12 col-md-9 align-left">
              <button class="btn btn-default" type="submit" ng-click="myFilter = {}">All seats</button>
              <button class="btn btn-default" type="submit" ng-click="myFilter = {open: 'open'}">Open seats</button>
              <button class="btn btn-default" type="submit" ng-click="myFilter = {open: 'closed'}">Closed seats</button>
              <button class="btn btn-default" type="submit" ng-click="myFilter = {incumbent: 'Republican'}">Republican seats</button>
              <button class="btn btn-default" type="submit" ng-click="myFilter = {incumbent: 'Democrat'}">Democratic seats</button>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 align-right">
              <form>
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-search"></i></div>

                    <input type="text" class="form-control" placeholder="Search by seat" ng-model="searchSeats">

                  </div>
                </div>
              </form>
            </div>
          </div>


          <div class="row show-grid padding-top">
            <div class="col-xs-12 col-sm-4">
              <div id="sidebar" data-spy="affix">
                Click on a Senate seat to view information about the current senator as well as information about the race for the seats which are contested.
              </div>
            </div>
            <div class="col-xs-12 col-sm-8" id="main">
              <div id="mainbar">
                <div class="seat-tile" ng-repeat="seat in senate.seats | filter:myFilter | filter:{name: searchSeats}">
                  <a ng-click="senate.getInfo(seat.name)"><img ng-src="{{seat.background}}" class="img-responsive-icons {{seat.open}} {{seat.incumbent.party}}"></a>
                </div>
              </div>
            </div>

          </div>

        </div>

        <div id="footerSlideContainer">
        	<div id="footerSlideButton">credits</div>
        	<div id="footerSlideContent">
        		<div id="footerSlideText">
        			<p>Research and graphics by Kiersten Schmidt. | Source images via Wikipedia.</p>
        			<div>Sources:</div>
              <a href="https://en.wikipedia.org/wiki/United_States_Senate_elections,_2016" target="blank">Wikipedia: United States Senate elections, 2016</a>;
              <a href="http://www.shelbyforsenate.com/" target="blank">Shelby for Senate</a>;
              <a href="https://en.wikipedia.org/wiki/Lisa_Murkowski" target="blank">Wikipedia: Lisa Murkowski</a>;
              <a href="http://www.kirkpatrickforsenate.com/" target="blank">Kirkpatrick for Senate</a>;
              <a href="https://connerforarkansas.com/" target="blank">Connor for Arkansas</a>;
              <a href="http://www.kamalaharris.org/" target="blank">Kamala Harris</a>;
              <a href="http://jonkeyser.com/" target="blank">Jon Keyser</a>;
              <a href="http://wolf2016.com/" target="blank">Wolf 2016</a>;
              <a href="http://www.murphyforflorida.com/" target="blank">Murphy for Florida</a>;
              <a href="https://en.wikipedia.org/wiki/Johnny_Isakson" target="blank">Wikipedia: Johnny Isakson</a>;
              <a href="http://brianschatz.com/" target="blank">Brian Schatz</a>;
              <a href="http://crapoforsenate.com/" target="blank"> Crapo for Senate</a>;
              <a href="http://tammyduckworth.com/" target="blank">Tammy Duckworth</a>;
              <a href="https://toddyoung.org/" target="blank">Todd Young</a>;
              <a href="http://www.robhogg.org/" target="blank">Rob Hogg</a>;
              <a href="https://en.wikipedia.org/wiki/Jerry_Moran" target="blank">Wikipedia: Jerry Moran</a>;
              <a href="https://en.wikipedia.org/wiki/Jim_Gray_" target="blank">Wikipedia: Jim Gray</a>;
              <a href="https://join.charlesboustany.com/landing/for-louisiana/" target="blank">Charles Boustany for Louisiana</a>;
              <a href="https://donnaedwardsforsenate.com/" target="blank">Donna Edwards for Senate</a>;
              <a href="https://www.jasonkander.com/" target="blank">Jason Kander</a>;
              <a href="http://catherinecortezmasto.com/" target="blank">Catherine Cortez Masto</a>;
              <a href="http://maggiehassan.com/" target="blank">Maggie Hassan</a>;
              <a href="https://en.wikipedia.org/wiki/Chuck_Schumer" target="blank">Wikipedia: Chuck Schumer</a>;
              <a href="https://en.wikipedia.org/wiki/Deborah_K._Ross" target="blank">Wikipedia: Deborah K. Ross</a>;
              <a href="https://en.wikipedia.org/wiki/John_Hoeven" target="blank">Wikipedia: John Hoeven</a>;
              <a href="http://www.tedstrickland.com/" target="blank">Ted Strickland</a>;
              <a href="http://jameslankford.com/" target="blank">James Lankford</a>;
              <a href="https://www.standtallforamerica.com/" target="blank">Stand Tall for America</a>;
              <a href="http://joesestak.com/" target="blank">Joe Sestak</a>;
              <a href="http://joycedickersonsc.com/" target="blank">Joyce Dickerson</a>;
              <a href="https://en.wikipedia.org/wiki/John_Thune" target="blank">Wikipedia: John Thune</a>;
              <a href="https://www.leeforsenate.com/" target="blank">Lee for Senate</a>;
              <a href="https://en.wikipedia.org/wiki/Patrick_Leahy" target="blank">Wikipedia: Patrick Leahy</a>;
              <a href="https://chrisvanceforsenate.com/" target="blank">Chris Vance for Senate</a>;
              <a href="https://en.wikipedia.org/wiki/Russ_Feingold" target="blank">Wikipedia: Russ Feingold</a>.
        		</div>
        	</div>
        </div>


        <!-- jquery -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

        <!-- fixed sidebar -->
        <script src="js/bootstrap.min.js"></script>

        <!-- angular -->
        <script src="js/angular.min.js"></script>

        <!-- myApp -->
        <script src="js/app.js"></script>

        <!-- additional js -->
        <script type="text/javascript" src="js/script.js"></script>

        <!-- waves -->
        <script type="text/javascript" src="js/waves.min.js"></script>

        <script type="text/javascript">
            Waves.attach('.img-responsive-icons', ['waves-float', 'waves-block']);
            Waves.init();
        </script>

    </body>
</html>
