<!DOCTYPE html>
<html>
    <head>

      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Racing for the Senate</title>

        <!-- css -->
        <link rel="stylesheet" href="css/bootstrap.css" />
        <link rel="stylesheet" href="css/custom.css" />
        <link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="css/waves.min.css" />
    </head>

    <body ng-app="myApp">

      <div id="banner">
        <img src="images/banner.png" class="img-responsive banner-image"></img>
      </div>

        <div class="container" ng-controller="SenateController as senate">

          <div id="headbox">
            <a href="index.html"><h1>Racing for the Senate</h1></a>
            <h2>With Republicans holding 24 of the 34 seats up for re-election in November,
            Democrats will be looking to win back the control of the Senate they lost in 2014.
            Currently at 46 seats, they will need to win four more to gain control if a Democrat
            is elected president, or five more if a Republican wins the White House. Use the table
            below to view who is up for re-election this year and detailed information about each
            of the 34 races.</h2>
          </div>

          <div id="key">
            <ul>
              <li class="openrep">Open Republican Seat</li>
              <li class="closedrep">Closed Republican Seat</li>
              <li class="opendem">Open Democratic Seat</li>
              <li class="closeddem">Closed Democratic Seat</li>
              <li class="openind">Open Independent Seat</li>
              <li class="closedind">Closed Independent Seat</li>
          </div>

          <div class="row" id="buttons">
            <div class="col-xs-12 col-sm-12 col-md-9 align-left">
              <button class="btn btn-default" type="submit" ng-click="myFilter = {}">All seats</button>
              <button class="btn btn-default" type="submit" ng-click="myFilter = {open: 'open'}">Open seats</button>
              <button class="btn btn-default" type="submit" ng-click="myFilter = {open: 'closed'}">Closed seats</button>
              <button class="btn btn-default" type="submit" ng-click="myFilter = {incumbent: 'Republican'}">Republican seats</button>
              <button class="btn btn-default" type="submit" ng-click="myFilter = {incumbent: 'Democrat'}">Democratic seats</button>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 align-right">
              <form>
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-search"></i></div>

                    <input type="text" class="form-control" placeholder="Search by seat" ng-model="searchSeats">

                  </div>
                </div>
              </form>
            </div>
          </div>


          <div class="row show-grid padding-top">
            <div class="col-xs-12 col-md-4">
              <div id="sidebar" data-spy="affix">
                Click on a Senate seat to view information about the current senator as well as information about the race for the seats which are contested.
              </div>
            </div>
            <div class="col-xs-12 col-md-8" id="main">
              <div class="row" id="mainbar">
                <div class="seat-tile" ng-repeat="seat in senate.seats | filter:myFilter | filter:{name: searchSeats}">
                  <a ng-click="senate.getInfo(seat.name)"><img ng-src="{{seat.background}}" class="img-responsive-icons {{seat.open}} {{seat.incumbent.party}}"></a>
                </div>
              </div>
            </div>

          </div>

        </div>

        <!-- jquery -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

        <!-- fixed sidebar -->
        <script src="js/bootstrap.min.js"></script>

        <!-- angular isotope -->
        <script src="js/angular.min.js"></script>
        <script src="js/jquery.isotope.js"></script>
        <script src="js/isotope-docs.min.js"></script>

        <!-- myApp -->
        <script src="js/app.js"></script>

        <!-- additional js -->
        <script type="text/javascript" src="js/script.js"></script>

        <!-- waves -->
        <script type="text/javascript" src="js/waves.min.js"></script>

        <script type="text/javascript">
            Waves.attach('.img-responsive-icons', ['waves-float', 'waves-block']);
            Waves.init();
        </script>

    </body>
</html>
